{% extends 'layout.html' %}

{% block content %}

<div>
    {% for post in posts %}

        {% if post.index == "0" %}
            <details open>
        {% else %}
            <details>
        {% endif %}
            <summary>
                {{ post.memo }}
                <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more"/>
                </svg>
                <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"/>
                </svg>
            </summary>
            <p>{{ post.date }} {{ post.time }}</p>
            </br>
            <div>
                <a href={{post.url}}>다운로드</a>
            </div>
        </details>

    {% endfor %}
</div>
{% endblock %}